// Body

#app {
    box-sizing: border-box;
    background-color: $backgroundColor;
    color: $white;
    
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr 4fr;
    grid-template-columns: 3fr 2fr;
}

h2 {
    font-weight: 300;
    font-size: 3rem;
}