// Body

body {
    box-sizing: border-box;
    background-color: $color-background;
    color: $color-white;
}

.main-grid {
    padding: 25rem 0;
    margin-top: -25vh;
    margin-bottom: -25vh;
}

.service-container {
    background-color: #f00;
    text-align: center;
    & h2 {
        font-size: 3rem;
    }
}