.card-container {
    grid-row: 3;
    grid-column: 2;

    display: flex;
    justify-content: space-around;
    text-align: center;
    transform: translateX(-2rem);
}

.weather-card-container {
    font-weight: 300;
    font-size: 1.3rem;
    width: 45%;             // fix this
    height: 90%;
    text-align: left;
    padding: 2rem;
    background-color: $backgroundColor2;
    border-radius: .5rem;
    overflow-wrap: break-word;

    & h2 {
        text-align: center;
    }

    & span {
        float: right;
    }
    & div {
        padding: 0.5rem;
        
        &:not(:nth-child(2)){
            border-top: 1px dotted $white;
            
        }
    }
}
