.docker-card-container {
    padding: .5rem;
    font-size: 1.5rem;

    // temporary!
    display: flex;
    justify-content: space-between;
    background-color: rgba($commentColor, 0.3);

    & span {
        font-size: 2rem;
    }
}

.docker-card-container:nth-child(even) {
    background-color: rgba($backgroundColor2, 0.3);
}