.card-container {
    grid-row: 3;
    grid-column: 2;

    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.weather-card-container {
    font-weight: 300;
    font-size: 1.3rem;
    width: 40%;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;

    & h2 {
        text-align: center;
    }

    & span {
        float: right;
    }
    & div {
        padding: 0.5rem;
        
        &:not(:nth-child(2)){
            border-top: 1px dotted $white;
            
        }
    }
}
