.docker-container {
    grid-row: 2 / 3;
    grid-column: 2;

    // Temporary!
    display: flex;
    flex-direction: column;

    background-color: $commentColor;
    background-image: url('../images/docker-large.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom 1rem right 1rem;
}

.docker-card-container {
    padding: .5rem;
    font-size: 1.5rem;

    // temporary!
    display: flex;
    justify-content: space-between;
    background-color: rgba($commentColor, 0.3);

    & span {
        font-size: 2rem;
    }
}

.docker-card-container:nth-child(even) {
    background-color: rgba($backgroundColor2, 0.3);
}