.docker-container {
    // Position in main page grid
    grid-row: 2 / 3;
    grid-column: 2;

    // Border
    margin-top: -4rem;
    margin-right: 4rem;
    padding-left: 30%;

    // Child layout
    display: grid;
    grid-template-columns: repeat(5, $dockerCellSize);
    grid-template-rows: repeat(8, $dockerCellSize);
    row-gap: .5rem;
    column-gap: .4rem;

    // Background image
    background-image: url('../images/docker-large-blank.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom 11px right 44.5%;
}

.docker-cell{
    background-color: $white;
    border-radius: .2rem;
    max-width: $dockerCellSize;
    width: fit-content;
    transition: all .3s ease-out;
    animation-fill-mode: forwards;
    overflow: hidden;
    z-index: 1;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;

    transition-delay: .3s;

    & img {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: .25rem;
        margin-top: .25rem;
    }

    &__content {
        opacity: 0;
        transition: all .3s ease-in;
        transition-delay: .3s;
        padding-left: 1rem;
        padding-right: .75rem;
        color: $commentColor;

        // Child layout
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-self: center;
        white-space: nowrap;
        
        // Container name
        & h3 { 
            font-size: 1.7rem;
            margin-top: 2px;        // hacky
            font-weight: 300;
            cursor: default;
            padding-right: .5rem;
        }

        &--buttons {
            display: flex;
            align-content: center;
            justify-content: center;
        }
    }

    &:hover {
        transition-delay: 0s;
        max-width: 40rem;
        z-index: 2;
        .docker-cell__content {
            opacity: 1;
            transition-delay: 0s;
        }
    }
}

// DEPRECATED!
.docker-card-container {
    // Spacing
    padding: .75rem;
    align-self: center;

    height: 2rem;
    width: 2rem;

    border-radius: .5rem;
    background-color: $commentColor;

    // Child layout
    display: flex;
    justify-content: space-between;
    align-content: center;

    // Container name
    & h3 { 
        align-self: center;
        font-size: 1.7rem;
        font-weight: 300;
    }

    &__button-container {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

// Buttons
.docker-card-btn {
    color: $commentColor;
    margin-left: .3rem;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    &:hover {
        cursor: pointer;
    }
}

// Grid layout
.d1 {
    grid-row: 8;
    grid-column: 4;
}

.d2 {
    grid-row: 8;
    grid-column: 3;
}

.d3 {
    grid-row: 7;
    grid-column: 4;
}

.d4 {
    grid-row: 8;
    grid-column: 2;
}
.d5 {
    grid-row: 7;
    grid-column: 3;
}
.d6 {
    grid-row: 8;
    grid-column: 5;
}
.d7 {
    grid-row: 8;
    grid-column: 1;
}
.d8 {
    grid-row: 6;
    grid-column: 4;
}
.d9 {
    grid-row: 7;
    grid-column: 2;
}
.d10 {
    grid-row: 5;
    grid-column: 4;
}
.d11 {
    grid-row: 6;
    grid-column: 2;
}
.d12 {
    grid-row: 7;
    grid-column: 5;
}
// .d13 {
//     grid-row: ;
//     grid-column: ;
// }
// .d14 {
//     grid-row: ;
//     grid-column: ;
// }
// .d15 {
//     grid-row: ;
//     grid-column: ;
// }
// .d16 {
//     grid-row: ;
//     grid-column: ;
// }
// .d17 {
//     grid-row: ;
//     grid-column: ;
// }
// .d18 {
//     grid-row: ;
//     grid-column: ;
// }
// .d19 {
//     grid-row: ;
//     grid-column: ;
// }
// .d20 {
//     grid-row: ;
//     grid-column: ;
// }
// .d21 {
//     grid-row: ;
//     grid-column: ;
// }
// .d22 {
//     grid-row: ;
//     grid-column: ;
// }
// .d23 {
//     grid-row: ;
//     grid-column: ;
// }
// .d24 {
//     grid-row: ;
//     grid-column: ;
// }
// .d25 {
//     grid-row: ;
//     grid-column: ;
// }
// .d26 {
//     grid-row: ;
//     grid-column: ;
// }
// .d27 {
//     grid-row: ;
//     grid-column: ;
// }
// .d28 {
//     grid-row: ;
//     grid-column: ;
// }
// .d29 {
//     grid-row: ;
//     grid-column: ;
// }
// .d30 {
//     grid-row: ;
//     grid-column: ;
// }
// .d31 {
//     grid-row: ;
//     grid-column: ;
// }
// .d32 {
//     grid-row: ;
//     grid-column: ;
// }
// .d33 {
//     grid-row: ;
//     grid-column: ;
// }
// .d34 {
//     grid-row: ;
//     grid-column: ;
// }
// .d35 {
//     grid-row: ;
//     grid-column: ;
// }
// .d36 {
//     grid-row: ;
//     grid-column: ;
// }
// .d37 {
//     grid-row: ;
//     grid-column: ;
// }
// .d38 {
//     grid-row: ;
//     grid-column: ;
// }
// .d39 {
//     grid-row: ;
//     grid-column: ;
// }