.docker-container {
    // Position in main page grid
    grid-row: 2 / 3;
    grid-column: 2;

    // Border
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    margin-right: 3rem;
    margin-left: -.5rem;

    // Child layout
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    // Background image
    background-image: url('../images/docker-large.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: bottom 1rem right 1rem;
}

.docker-card-container {
    // Spacing
    padding: .7rem;
    margin: .5rem;
    height: 80%;

    // Corners
    border-radius: .3rem;

    // Child layout
    display: flex;
    justify-content: space-between;
    align-content: center;

    // Color
    background-color: $commentColor;
    &:nth-child(even) {
        background-color: $backgroundColor2;
    }

    // Container name
    & h3 { 
        align-self: center;
        font-size: 1.7rem;
        font-weight: 300;
    }

    // Button container
    &__button-container {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    &:nth-child(even) > &__button-container > .docker-card-btn {
        color: $commentColor;
    }
}

// Buttons
.docker-card-btn {
    color: $backgroundColor2;
    margin-left: .3rem;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    &:hover {
        cursor: pointer;
    }
}