.header-container {
    text-align: center;
    background-color: #12c3a5;

    & h1 {
        font-size: 7rem;
        //color: $cyan;
    }

    & span {    // Settings icon
        float: right;
        font-size: 3.5rem;
    }
}

.webgl
{
    position: fixed;
    top: -37%;
    left: 14%;
    outline: none;
}