// Variables

// Colors
$light-grey-1: #CCC;
$white: #f8f8f2;
$yellow: #f1fa8c;
$cyan: #8be9fd;
$green: #50fa7b;
$dark-green: #1b6535;
$purple: #bd93f9;
$red: #ff5555;
$pink: #ff79c6;

$shadowColor: #555;
$commentColor: #6272a4;
$backgroundColor: #282a36;

// Grid
$grid-width: 90%;
$grid-gutter-vertical: 4rem;
$grid-gutter-horizontal: 4rem;