// Variables

// Colors
$color-shadow: #555;
$color-light-grey-1: #CCC;
$color-white: #f8f8f2;
$color-primary: #50fa7b;
$color-secondary: #f1fa8c;
$color-tertiary: #ff79c6;
$color-cyan: #8be9fd;
$color-green: #50fa7b;
$color-purple: #bd93f9;
$color-red: #ff5555;
$color-pink: #ff79c6;
$color-comment: #6272a4;
$color-dark-green: #1b6535;
$color-background: #282a36;

// Grid
$grid-width: 90%;
$grid-gutter-vertical: 4rem;
$grid-gutter-horizontal: 4rem;