// Animations

// css
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1.5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

// vue animations

// modal page dim
.modal-fade-enter-active {
  transition: opacity 0.3s ease-in;
}

.modal-fade-leave-active {
    transition: opacity 0.3s ease-out;
  }

.modal-fade-enter-from,
.modal-fade-leave-active {
  opacity: 0;
}

// slide in from bottom
.slide-up-enter-active,
.slide-up-leave-active {
    transition: all .3s ease-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
    transform: translateY(100%);
}

// fade with flow remove
.fade-in-enter-active {
    transition: opacity .3s ease-out;
}
.fade-in-leave-from,
.fade-in-enter-from,
.fade-in-leave-to {
    opacity: 0;
}

.fade-in-leave-active {
    position: absolute;
    display: none;
}

// smooth list add/remove
.smooth-list-move,
.smooth-list-enter-active,
.smooth-list-leave-active {
  transition: all 0.5s ease;
}

.smooth-list-enter-from,
.smooth-list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.smooth-list-leave-active {
  position: absolute;
  display: none;
}