// Body

#app {
    box-sizing: border-box;
    background-color: $backgroundColor;
    color: $white;
    
    display: grid;
    height: 100%;
    
    grid-template-rows: 20vh 50vh 30vh;
    grid-template-columns: 3fr 2fr; // 60% 40%

    @media (max-width: $mobile-break-med) {
       //grid-template-columns: 1fr;
       display: flex;
       flex-direction: column;
    }
    // repeat(n, width)
}

h2 {
    font-weight: 300;
    font-size: 3rem;
}