// Body

#app {
    box-sizing: border-box;
    background-color: $backgroundColor;
    color: $white;
    
    display: grid;
    height: 100%;
        
    grid-template-rows: 20vh 50vh auto;
    grid-template-columns: 66vw 34vw;

    @media (max-width: $mobile-break-med) {
       display: flex;
       flex-direction: column;
    }
}

h2 {
    font-weight: 300;
    font-size: 3rem;
}