.docker-container {
    // Position in main page grid
    grid-row: 2 / 3;
    grid-column: 2;
    
    // Child layout
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 0;

    position: relative;
    min-height: 30rem;

    background-image: url('../images/docker-large-text.png');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 100% 100%;

    @media (max-width: $mobile-break-med) {
        background-size: 15%;
        align-items: center;
    }

    @media (max-width: $mobile-break-small) {
        background-image: none;
        margin-bottom: 1rem;
        margin-left: -2rem;
    }
}

.docker-container__whale {
    height: 20.5rem;
    margin-top: -6.7rem;
    margin-left: 5.5rem;

    @media (max-width: $mobile-break-med) {
        margin-left: 9.5rem;
    }
}

.docker-container__grid {
    display: grid;
    grid-template-columns: repeat(5, $dockerCellSize);
    grid-template-rows: repeat(8, $dockerCellSize);
    row-gap: .5rem;
    column-gap: .5rem;

    margin-left: 7rem;

    // smooths between grid sizes
    //transition: all .3s ease-in-out;

    @media (max-width: $mobile-break-med) {
        margin-left: 0;
    }

    margin-top: (-7 * $dockerCellSize) + (-2 * .5rem);

    &__1-row {
        margin-top: (-7 * $dockerCellSize) + (-7 * .5rem);
    }
    &__2-row {
        margin-top: (-6 * $dockerCellSize) + (-6 * .5rem);
    }
    &__3-row {
        margin-top: (-5 * $dockerCellSize) + (-5 * .5rem);
    }
    &__4-row {
        margin-top: (-4 * $dockerCellSize) + (-4 * .5rem);
    }
    &__5-row {
        margin-top: (-3 * $dockerCellSize) + (-3 * .5rem);
    }
    &__6-row {
        margin-top: (-2 * $dockerCellSize) + (-2 * .5rem);
    }
    &__7-row {
        margin-top: (-1 * $dockerCellSize) + (-1 * .5rem);
    }
    &__8-row {
        margin-top: 0;
    }
}

.docker-cell{
    // Styling
    background-color: $white;
    border-radius: .2rem;

    // Expand width on hover animation
    max-width: $dockerCellSize;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: all .3s .3s ease-out;
    transition: all .3s .3s ease-out;

    overflow: hidden;
    z-index: 1;

    // Child layout
    display: flex;
    align-content: center;
    justify-content: space-between;

    // Container icon
    & img,
    &__image-placeholder {
        height: $dockerCellImageSize;
        width: $dockerCellImageSize;
        margin-left: $dockerCellImagePadding;
        margin-top: $dockerCellImagePadding;
        font-size: $dockerCellImageSize;
        pointer-events: none;
    }

    &__image-placeholder {
        color: $commentColor;
    }

    // Container name & buttons
    &__content {
        opacity: 0;
        transition: all .3s .3s ease-in;
        padding-left: 1rem;
        padding-right: .75rem;
        color: $commentColor;

        // Child layout
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-self: center;
        white-space: nowrap;
        
        // Container name
        & h3 { 
            font-size: 1.7rem;
            font-weight: 400;
            cursor: default;
            padding-right: .5rem;
        }

        &--buttons {
            display: flex;
            align-content: center;
            justify-content: center;
        }
    }
    
    // mobile click expansion/contraction
    @media (pointer:coarse) {
        &:focus {
            max-width: 40rem;
            width: max-content;
            z-index: 2;
            pointer-events: none;
            box-shadow: .5rem .5rem 1.5rem rgba($shadowColor, .5);

            transition-delay: 0s;   
            .docker-cell__content {
                opacity: 1;
                transition-delay: 0s;
            }
        }
    }

    // desktop hover expansion/contraction
    @media (hover: hover) { 
        &:hover {
            max-width: 40rem;
            width: max-content;
            z-index: 2;
            box-shadow: .5rem .5rem 1.5rem rgba($shadowColor, .5);

            transition-delay: 0s;   
            .docker-cell__content {
                opacity: 1;
                transition-delay: 0s;
            }
        }
    }
}

// Buttons
.docker-card-btn {
    color: $commentColor;
    margin-left: .25rem;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    transition: all .25s ease-out;
    
@media (hover: hover) { 
	@media (hover: hover) { 
		    &:hover {
        cursor: pointer;
        transform: scale(1.3);
    }
	}
}
}

// 3D canvas
#whale-canvas {
    width: 100%;
    height: 100%;

    & canvas {
        width: 100%;
        height: 100%;
    }
}

// 3D tooltip
#tooltip {
	position: absolute;
	text-align: center;
	z-index: 100;
	display:block;
    pointer-events: none;
    background-color: $backgroundColor2;
    color: $white;
    font-size: 1.5rem;
    padding: .5rem;
    opacity: 0;
}

// Control panel
.docker-control-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    left: -2rem;
    bottom: 0;

    & .material-icon {
        margin-top: 1rem;
        color: $commentColor;
        cursor: pointer;
        transition: all .3s ease-out;

        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(1) translateY(2px);
        }

        @media (max-width: $mobile-break-small) {
            margin-top: .5rem;
        }
    }

    @media (max-width: $mobile-break-med) {
        left: 0;
    }

    @media (max-width: $mobile-break-small) {
        right: 0;
        left: auto;
    }
}

// Popup
.modal-container--large {
    max-width: 95vw;
    width: 80vw;
    max-height: 90vh;

    & h2 {

        & .material-icon {
            float: right;
            font-size: 3.2rem;
            margin-top: .5rem;
            color: $white;
        }
    }

    & h3 {
        font-size: 1.7rem;
        font-style: italic;
        font-weight: 400;
        margin-bottom: .5rem;
    }
    
    & .docker-info--stats {
        font-size: 1.3rem;
        background-color: rgba($white, .1);
        border-radius: .5rem;
        margin-bottom: 1rem;
        padding: .5rem;

        max-height: 30vh;
        overflow-y: scroll;
    }

    & .docker-info--log {
        font-size: 1.3rem;
        background-color: rgba($white, .1);
        border-radius: .5rem;
        padding: .5rem;

        max-height: 25vh;
        overflow-y: scroll;
    }
}