.flood-card-container {

    @media(max-width: $mobile-break-small){
        margin-bottom: 2rem;
    }

    position: relative;
    height: 90%;
    width: auto;
    flex-grow: 1;

    perspective: 100rem;
    -moz-perspective: 100rem;

    &__side {
        height: 100%;
        transition: all 0.7s ease-in-out;
        backface-visibility: hidden;
        color: $white;
        font-size: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 1.5rem 2rem rgba($shadowColor, 0.8);

        &--front {
            background-color: $commentColor;
        }
        &--back {
            background-color: $backgroundColor2;
            transform: rotateY(180deg);
        }
    }

    // Hover flip animation
    &:hover &__side--front {
        transform: rotateY(-180deg);
        box-shadow: .5rem 2.5rem 4rem rgba($shadowColor, 0.8);
    }
    &:hover &__side--back {
        transform: rotateY(0deg);
        box-shadow: .5rem 2.5rem 4rem rgba($shadowColor, 0.8);
    }

    // Front
    &__heading {
        width: 90%;
        position: absolute;
        top: 2rem;
        right: 2rem;

        justify-content: space-between;
        display: flex;

        &--title {
            font-size: 2rem;
            height: 3.4rem;
            font-weight: 300;
            text-transform: uppercase;
            text-align: right;

            padding: .5rem 1rem;
            border-radius: 5px;

            background-image: linear-gradient(
                to right bottom, 
                rgba($commentColor, .8), 
                rgba($backgroundColor, .8));
        }

        &--stats {
            margin-left: .5rem;
            div {
                display: flex;
                & span {
                    font-size: 2.2rem;
                }
    
                & p {
                    font-size: 1.5rem;
                }
            }

            &__up {
                color: $cyan;
            }

        }
    }

    &__chart {
        margin-left: -1rem;
        width: 105%;
        margin-top: 5rem;
        transform: scaleY(.9);
    }

    // Back
    &__notifications {
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            padding-top: 1.3rem;

            li {
                text-align: center;
                font-size: 1.3rem;
                padding: 1rem;
                overflow-wrap: break-word;

                &:not(:last-child) {
                    border-bottom: 1px solid $white;
                }

                span {
                    text-align: left;
                    float: left;
                }
            }
        }
    }
}
