.flood-card-container {

    @media(max-width: $mobile-break-small){
        width: auto;
    }

    position: relative;
    flex-grow: 1;
    width: calc(50% - 1rem);
    height: 34rem;
    transition: all .35s ease-out;

    perspective: 100rem;
    -moz-perspective: 100rem;

    &__side {
        height: 100%;
        transition: all 0.7s ease-in-out;
        backface-visibility: hidden;
        color: $white;
        font-size: 3rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        //box-shadow: 0 1.5rem 2rem rgba($shadowColor, 0.8);

        &--front {
            background-color: $commentColor;
            cursor: pointer;
        }
        &--back {
            background-color: $backgroundColor2;
            transform: rotateY(180deg);

            // hide scrollbar
            overflow-y: scroll;
            scrollbar-width: none;
            &::-webkit-scrollbar { width: 0 !important }
            overflow: -moz-scrollbars-none;
            -ms-overflow-style: none;
        }
    }

    // Hover shadow
    &:hover &__side--front {
        box-shadow: 0 1.5rem 2rem rgba($shadowColor, 0.8);
        transform: translateY(-2px) rotateY(0deg);
    }

    &__flipped:hover &__side--front {
        box-shadow: 0 1.5rem 2rem rgba($shadowColor, 0.8);
        transform: translateY(-2px) rotateY(-180deg);
    }

    // Click flip animation
    &__flipped &__side--front {
        transform: rotateY(-180deg);
        box-shadow: .5rem 2.5rem 4rem rgba($shadowColor, 0.8);
    }
    &__flipped &__side--back {
        transform: rotateY(0deg);
        box-shadow: .5rem 2.5rem 4rem rgba($shadowColor, 0.8);
    }

    // Front
    &__heading {
        margin: 2rem;
        margin-bottom: 0;
        justify-content: space-between;
        display: flex;

        &--title {
            font-size: 1.7rem;
            height: 3.1rem;
            font-weight: 300;
            text-transform: lowercase;
            text-align: right;

            padding: .5rem 1rem;
            border-radius: 5px;

            background-image: linear-gradient(
                to right bottom, 
                rgba($commentColor, .8), 
                rgba($backgroundColor, .8));
        }

        &--stats {
            text-align: left;
            margin-left: -.25rem;
            margin-right: auto;
            max-width: 40%;

            div {
                display: flex;
                align-items: center;
    
                & p {
                    font-size: 1.3rem;
                }
            }

            &__up {
                color: $cyan;
            }

        }
    }

    &__chart {
        margin-left: -1rem;
        width: 105%;
        height: calc(100% - 7.1rem);

        display: flex;
        flex-direction: column;
        justify-items: flex-end;

        & div {
            max-height: 100%;
        }

    }

    // Back
    &__notifications {
        ul {
            list-style: none;

            li {
                text-align: center;
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                outline: 1px solid $commentColor;
                border-radius: .3rem;
                margin: 1rem;

                p {
                    overflow-wrap: break-word;
                    flex-grow: 1;
                    width: 80%;
                    padding: .5rem;
                    cursor: default;
                }

                span {
                    color: $green;
                    margin-left: .5rem;
                }
            }
        }
    }
}
