// Main font
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local(''), url('../fonts/montserrat_variable_stripped.woff2') format('woff2');   
}

// Icon font (material icons subset)
@font-face {
  font-family: 'Material Icons';
  font-display: swap;
  src: local(''), url('../fonts/material_design_icons_stripped.woff2') format('woff2');   
}

.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;

  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.icon-settings::after { content: "\E8B8"; }
.icon-refresh::after { content: "\E5D5"; }
.icon-3d::after { content: "\E84D"; }
.icon-play::after { content: "\E039"; }
.icon-stop::after { content: "\EF71"; }
.icon-pause::after { content: "\E036"; }
.icon-storage::after { content: "\E1DB"; }
.icon-memory::after { content: "\E322"; }
.icon-photo::after { content: "\E3F4"; }
.icon-close::after { content: "\E5CD"; }
.icon-info::after { content: "\E88E"; }
.icon-check::after { content: "\E92D"; }
.icon-bookmarks::after { content: "\E98B"; }
.icon-arrow_right::after { content: "\EAAA"; }
.icon-arrow_down::after { content: "\F181"; }
.icon-arrow_up::after { content: "\F182"; }
