 // Layout & fill order for Docker whale grid

 .d1 {
    grid-row: 8;
    grid-column: 4;
} .d2 {
    grid-row: 8;
    grid-column: 3;
} .d3 {
    grid-row: 7;
    grid-column: 4;
} .d4 {
    grid-row: 8;
    grid-column: 2;
} .d5 {
    grid-row: 7;
    grid-column: 3;
} .d6 {
    grid-row: 8;
    grid-column: 5;
} .d7 {
    grid-row: 8;
    grid-column: 1;
} .d8 {
    grid-row: 6;
    grid-column: 4;
} .d9 {
    grid-row: 7;
    grid-column: 2;
} .d10 {
    grid-row: 5;
    grid-column: 4;
} .d11 {
    grid-row: 6;
    grid-column: 2;
} .d12 {
    grid-row: 7;
    grid-column: 5;
} .d13 {
    grid-row: 6;
    grid-column: 3;
} .d14 {
    grid-row: 7;
    grid-column: 1;
} .d15 {
    grid-row: 6;
    grid-column: 1;
} .d16 {
    grid-row: 5;
    grid-column: 3;
} .d17 {
    grid-row: 4;
    grid-column: 4;
} .d18 {
    grid-row: 6;
    grid-column: 5;
} .d19 {
    grid-row: 5;
    grid-column: 1;
} .d20 {
    grid-row: 5;
    grid-column: 5;
} .d21 {
    grid-row: 4;
    grid-column: 1;
} .d22 {
    grid-row: 3;
    grid-column: 4;
} .d23 {
    grid-row: 4;
    grid-column: 3;
} .d24 {
    grid-row: 5;
    grid-column: 2;
} .d25 {
    grid-row: 4;
    grid-column: 5;
} .d26 {
    grid-row: 3;
    grid-column: 1;
} .d27 {
    grid-row: 4;
    grid-column: 2;
} .d28 {
    grid-row: 3;
    grid-column: 5;
} .d29 {
    grid-row: 3;
    grid-column: 2;
} .d30 {
    grid-row: 2;
    grid-column: 2;
} .d31 {
    grid-row: 2;
    grid-column: 4;
} .d32 {
    grid-row: 1;
    grid-column: 4;
} .d33 {
    grid-row: 2;
    grid-column: 1;
} .d34 {
    grid-row: 1;
    grid-column: 1;
} .d35 {
    grid-row: 2;
    grid-column: 5;
} .d36 {
    grid-row: 3;
    grid-column: 3;
} .d37 {
    grid-row: 1;
    grid-column: 5;
} .d38 {
    grid-row: 2;
    grid-column: 3;
} .d39 {
    grid-row: 1;
    grid-column: 2;
} .d40 {
    grid-row: 1;
    grid-column: 3;
}