@import "services-menu";

// global page dim
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

// settings menu
.modal-container {
    @media (max-width: $mobile-break-small) {
        width: 80%;
    }
    width: 50rem;
    margin: 0px auto;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    color: $white;
    background-color: $commentColor;
}

// styles for all popups
.modal-body {
    margin-bottom: 2rem;
    margin-top: 2rem;

    // option list
    & ul {
        list-style: none;
        position: relative;
    }
    
    // option container
    .modal-option {
        display: flex;
        justify-content: flex-end;
        font-size: 1.2rem;
        padding: 1rem;
        width: 100%;

        // centered option container
        &__header {
            width: min-content;
            padding: 0;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        &:not(:first-child) {
            border-top: 1px solid $backgroundColor2;
        }

        // option label
        & h3 {
            margin-right: auto;
            margin-left: 0;
            font-weight: 400;
            display: flex;
            align-items: center;

            // option label info/warning icon
            & span {
                font-size: 1.8rem;
                margin: 0;
                padding: 0;
                margin-left: .5rem;
                display: inline-flex;
                color: $white;
                //height: 1.2rem;
                cursor: default;
            }
        }
    }
}


.modal-footer {
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    @media(max-width: $mobile-break-small) {
        flex-wrap: wrap;
        gap: 1rem;
        height: auto;
    }
}

// footer buttons
.modal-button {
    border-radius: .25rem;
    border-style: none;
    color: $white;
    background-color: $backgroundColor2;
    font-weight: 600;
    padding: 0 .8rem;
    height: 2.5rem;
    vertical-align: middle;
    font-family: 'Montserrat';
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    & .material-icon {
        font-size: 1.7rem;
        color: $white;
        margin: auto;
        margin-top: .4rem;
        padding: 0;
        margin-right: -.25rem;
        margin-left: .3rem;
    }

    &__bookmarks,
    &__services {
        justify-self: flex-start;
        //margin-right: 1rem;
    }

    &__cards {
        justify-self: flex-start;
        margin-right: auto;
    }

    &__cancel {
        & .material-icon {
            // margin-left: -.25rem;
            // margin-right: .25rem;
            transform: rotateY(180deg);
        }
    }

    &__save {
        background-color: $cyan;
        color: $backgroundColor2;

        & .material-icon {
            color: $backgroundColor2;
        }
    }

    &__delete {
        justify-self: flex-start;
        margin-right: auto;
        background-color: $red;
    }
}

// Text fields
.option-dropdown-menu,
.option-text-field {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    border-radius: .5rem;
    color: $white;
    background-color: $backgroundColor2;
    border: none;
    box-shadow: inset .5rem .5rem 1rem rgba($shadowColor, .3);
    height: 2.4rem;
    padding-left: .7rem;
    padding-right: .7rem;
    font-family: 'Montserrat';
}

.modal-option__header,
.modal-option__dropdown-container {
    position: relative;
    min-width: max-content;

    & select {
        padding: 0;
        padding-left: .3rem;
        padding-right: 2rem;
        width: inherit;
    }

    &::after {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        pointer-events: none;

        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        content: "\E5C5";
        position: absolute;
        right: .15rem;
        top: .3rem;
        height: 2rem;
        width: 2rem;
        font-size: 2rem;
        color: $white;
    }
}

// Toggle sliders
.option-toggle-switch {
    width: 5rem;
    height: 2.4rem;
    position: relative;
    border-radius: 5rem;

    background-color: $backgroundColor2;
    transition: background-color .4s;

    box-shadow: inset .5rem .5rem 1rem rgba($shadowColor, .3);

    &__checkbox {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 50;
        cursor: pointer;
    }

    &--enabled {
        background-color: $green;
    }

    &__slider {
        position: absolute;
        left: 4px;
        top: 4px;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 5rem;
        transition: all .4s;
        background-color: $white;
        &--enabled {
            transform: translateX(2.6rem);
        }
    }
}