.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    color: $white;
    background-color: $commentColor;
}

.modal-header h2 {
    
}

.modal-body {
    margin: 2rem;
}

.modal-footer {
    height: 2.5rem;
}

.modal-button {
    border-radius: .25rem;
    border-style: none;
    color: $white;
    background-color: $backgroundColor2;
    font-weight: 600;
    padding: .5rem;
    float: right;
    font-family: 'Montserrat';
    cursor: pointer;
    margin-left: 1rem;

    &__cancel {
        background-color: $red;
    }
}

.modal-enter-active,
.modal-leave-active {
    transition: opacity .3s ease-out;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}