// Variables

// Colors
$lightGrey: #CCC;
$white: #f8f8f2;
$yellow: #f1fa8c;
$cyan: #8be9fd;
$green: #50fa7b;
$darkGreen: #1b6535;
$purple: #bd93f9;
$red: #ff5555;
$pink: #ff79c6;

$shadowColor: #1c1c1c;
$commentColor: #6272a4;
$backgroundColor: #282a36;
$backgroundColor2: #44475a;

// Grid
$grid-width: 90%;
$grid-gutter-vertical: 4rem;
$grid-gutter-horizontal: 4rem;

// Docker grid
$dockerCellSize: 4.5rem;
$dockerCellImageSize: 3rem;
$dockerCellImagePadding: .75rem;