// SASS entrypoint

@import "variables";
@import "fonts";
@import "utilities";
@import "grid";
@import "animations";

@import "options-menu";
@import "header";
@import "body";

@import "cards";
@import "services";
@import "docker";


// Global styles
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100vh;
    background-color: $backgroundColor;
    font-size: 10px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
}