.u-center-text {
  text-align: center; }

.u-margin-big-bottom {
  margin-bottom: 6rem; }

.u-margin-small-bottom {
  margin-bottom: 2rem; }

.u-margin-huge-top {
  margin-top: 10rem; }

.d1 {
  grid-row: 8;
  grid-column: 4; }

.d2 {
  grid-row: 8;
  grid-column: 3; }

.d3 {
  grid-row: 7;
  grid-column: 4; }

.d4 {
  grid-row: 8;
  grid-column: 2; }

.d5 {
  grid-row: 7;
  grid-column: 3; }

.d6 {
  grid-row: 8;
  grid-column: 5; }

.d7 {
  grid-row: 8;
  grid-column: 1; }

.d8 {
  grid-row: 6;
  grid-column: 4; }

.d9 {
  grid-row: 7;
  grid-column: 2; }

.d10 {
  grid-row: 5;
  grid-column: 4; }

.d11 {
  grid-row: 6;
  grid-column: 2; }

.d12 {
  grid-row: 7;
  grid-column: 5; }

.d13 {
  grid-row: 6;
  grid-column: 3; }

.d14 {
  grid-row: 7;
  grid-column: 1; }

.d15 {
  grid-row: 6;
  grid-column: 1; }

.d16 {
  grid-row: 5;
  grid-column: 3; }

.d17 {
  grid-row: 4;
  grid-column: 4; }

.d18 {
  grid-row: 6;
  grid-column: 5; }

.d19 {
  grid-row: 5;
  grid-column: 1; }

.d20 {
  grid-row: 5;
  grid-column: 5; }

.d21 {
  grid-row: 4;
  grid-column: 1; }

.d22 {
  grid-row: 3;
  grid-column: 4; }

.d23 {
  grid-row: 4;
  grid-column: 3; }

.d24 {
  grid-row: 5;
  grid-column: 2; }

.d25 {
  grid-row: 4;
  grid-column: 5; }

.d26 {
  grid-row: 3;
  grid-column: 1; }

.d27 {
  grid-row: 4;
  grid-column: 2; }

.d28 {
  grid-row: 3;
  grid-column: 5; }

.d29 {
  grid-row: 3;
  grid-column: 2; }

.d30 {
  grid-row: 2;
  grid-column: 2; }

.d31 {
  grid-row: 2;
  grid-column: 4; }

.d32 {
  grid-row: 1;
  grid-column: 4; }

.d33 {
  grid-row: 2;
  grid-column: 1; }

.d34 {
  grid-row: 1;
  grid-column: 1; }

.d35 {
  grid-row: 2;
  grid-column: 5; }

.d36 {
  grid-row: 3;
  grid-column: 3; }

.d37 {
  grid-row: 1;
  grid-column: 5; }

.d38 {
  grid-row: 2;
  grid-column: 3; }

.d39 {
  grid-row: 1;
  grid-column: 2; }

.d40 {
  grid-row: 1;
  grid-column: 3; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease-out; }

.fade-enter-from,
.fade-leave-to {
  opacity: 0; }

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .3s ease-out; }

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(100%); }

.service-editor {
  display: flex;
  justify-content: space-between;
  position: relative; }
  @media (max-width: 600px) {
    .service-editor {
      flex-direction: column;
      align-items: center; } }
  .service-editor__image-container {
    border: 1px solid #f8f8f2;
    background-color: #44475a;
    min-height: 128px;
    min-width: 128px;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; }
    .service-editor__image-container img {
      width: 96px;
      height: 96px; }
    .service-editor__image-container #uploader {
      display: none; }
    .service-editor__image-container .uploader-button {
      color: #f8f8f2;
      text-align: center;
      margin: 0;
      padding: 0;
      align-self: center;
      font-size: 6rem;
      outline: 1px solid #f8f8f2;
      border-radius: .5rem;
      transition: all .2s ease-in-out;
      background-color: #44475a; }
      .service-editor__image-container .uploader-button:hover {
        background-color: #6272a4; }
      .service-editor__image-container .uploader-button__corner {
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        margin: 0.25rem;
        border-radius: .25rem;
        z-index: 2; }
        .service-editor__image-container .uploader-button__corner-right {
          right: 0; }
        .service-editor__image-container .uploader-button__corner-left {
          left: 0; }
    .service-editor__image-container .icon-gallery {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      overflow-y: scroll;
      scrollbar-width: none;
      z-index: 1;
      border-radius: .5rem;
      background-color: #282a36;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: .5rem;
      grid-template-rows: repeat(3, 1fr); }
      .service-editor__image-container .icon-gallery__icon {
        display: flex;
        transition: all .2s ease-out;
        cursor: pointer;
        border-radius: .25rem;
        height: 36px;
        width: 36px; }
        .service-editor__image-container .icon-gallery__icon img {
          width: 32px;
          height: 32px;
          margin: auto; }
        .service-editor__image-container .icon-gallery__icon:hover {
          background-color: #6272a4; }
  .service-editor__options {
    margin-left: 2rem;
    flex-grow: 1;
    width: 100%; }
    @media (max-width: 600px) {
      .service-editor__options {
        margin-left: 0;
        margin-top: 2rem; } }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table; }

.modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

.modal-container {
  width: 50rem;
  margin: 0px auto;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  color: #f8f8f2;
  background-color: #6272a4; }
  @media (max-width: 600px) {
    .modal-container {
      width: 80%; } }

.modal-body {
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .modal-body ul {
    list-style: none; }
  .modal-body .modal-option {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    padding: 1rem; }
    .modal-body .modal-option__header {
      justify-content: center;
      padding: 0rem;
      margin-bottom: 2rem; }
    .modal-body .modal-option:not(:first-child) {
      border-top: 1px solid #44475a; }
    .modal-body .modal-option h3 {
      margin-right: auto;
      margin-left: 0;
      font-weight: 400;
      display: flex; }
      .modal-body .modal-option h3 span {
        font-size: 1.8rem;
        margin: 0;
        padding: 0;
        margin-left: .5rem;
        display: inline-flex;
        color: #f8f8f2;
        height: 1.2rem;
        cursor: default; }

.modal-footer {
  height: 2.5rem;
  display: flex;
  justify-content: flex-end; }

.modal-button {
  border-radius: .25rem;
  border-style: none;
  color: #f8f8f2;
  background-color: #44475a;
  font-weight: 600;
  padding: 0 .75rem;
  font-family: 'Montserrat';
  cursor: pointer; }
  .modal-button__services {
    justify-self: flex-start;
    margin-right: auto; }
  .modal-button__save {
    background-color: #8be9fd;
    color: #44475a;
    margin-left: 1rem; }

.header-container {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
  background-color: #44475a;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px 5px #1c1c1c; }
  .header-container h1 {
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: .75rem; }
    @media (max-width: 1350px) {
      .header-container h1 {
        font-size: 5rem;
        letter-spacing: .55rem; } }
    @media (max-width: 600px) {
      .header-container h1 {
        font-size: 3rem;
        letter-spacing: .3rem; } }
  .header-container canvas {
    margin-left: 18.5%; }
  .header-container span {
    color: #6272a4;
    margin: 1rem;
    font-size: 3.5rem;
    align-self: flex-start;
    margin-left: auto;
    cursor: pointer; }

#app {
  box-sizing: border-box;
  background-color: #282a36;
  color: #f8f8f2;
  display: grid;
  grid-template-rows: 15% 45% 40%;
  grid-template-columns: 3fr 2fr; }
  @media (max-width: 1350px) {
    #app {
      display: flex;
      flex-direction: column; } }

h2 {
  font-weight: 300;
  font-size: 3rem; }

.flood-card-container {
  position: relative;
  height: 90%;
  width: auto;
  flex-grow: 1;
  perspective: 100rem;
  -moz-perspective: 100rem; }
  @media (max-width: 600px) {
    .flood-card-container {
      margin-bottom: 2rem; } }
  .flood-card-container__side {
    height: 100%;
    transition: all 0.7s ease-in-out;
    backface-visibility: hidden;
    color: #f8f8f2;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgba(28, 28, 28, 0.8); }
    .flood-card-container__side--front {
      background-color: #6272a4; }
    .flood-card-container__side--back {
      background-color: #44475a;
      transform: rotateY(180deg); }
  .flood-card-container:hover .flood-card-container__side--front {
    transform: rotateY(-180deg);
    box-shadow: 0.5rem 2.5rem 4rem rgba(28, 28, 28, 0.8); }
  .flood-card-container:hover .flood-card-container__side--back {
    transform: rotateY(0deg);
    box-shadow: 0.5rem 2.5rem 4rem rgba(28, 28, 28, 0.8); }
  .flood-card-container__heading {
    width: 90%;
    position: absolute;
    top: 2rem;
    right: 2rem;
    justify-content: space-between;
    display: flex; }
    .flood-card-container__heading--title {
      font-size: 2rem;
      height: 3.4rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      padding: .5rem 1rem;
      border-radius: 5px;
      background-image: linear-gradient(to right bottom, rgba(98, 114, 164, 0.8), rgba(40, 42, 54, 0.8)); }
    .flood-card-container__heading--stats {
      margin-left: .5rem; }
      .flood-card-container__heading--stats div {
        display: flex; }
        .flood-card-container__heading--stats div span {
          font-size: 2.2rem; }
        .flood-card-container__heading--stats div p {
          font-size: 1.5rem; }
      .flood-card-container__heading--stats__up {
        color: #8be9fd; }
  .flood-card-container__chart {
    margin-left: -1rem;
    width: 105%;
    margin-top: 5rem;
    transform: scaleY(0.9); }
  .flood-card-container__notifications ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding-top: 1.3rem; }
    .flood-card-container__notifications ul li {
      text-align: center;
      font-size: 1.3rem;
      padding: 1rem;
      overflow-wrap: break-word; }
      .flood-card-container__notifications ul li:not(:last-child) {
        border-bottom: 1px solid #f8f8f2; }
      .flood-card-container__notifications ul li span {
        text-align: left;
        float: left; }

.weather-card-container {
  height: 90%;
  width: 45%;
  text-align: center;
  position: relative;
  padding: 1.5rem;
  border-radius: .5rem;
  overflow-wrap: break-word;
  z-index: 0;
  perspective: 100rem;
  -moz-perspective: 100rem; }
  @media (max-width: 600px) {
    .weather-card-container {
      width: auto;
      margin-bottom: 2rem; } }
  .weather-card-container__side {
    height: 100%;
    transition: all 0.7s ease-in-out;
    backface-visibility: hidden;
    color: #f8f8f2;
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 2rem rgba(28, 28, 28, 0.8); }
    .weather-card-container__side--front {
      background-color: #6272a4;
      display: flex; }
    .weather-card-container__side--back {
      background-color: #44475a;
      transform: rotateY(180deg); }
  .weather-card-container__background--skycon {
    position: absolute;
    bottom: 0;
    right: 1rem;
    opacity: .5;
    z-index: 0; }
  .weather-card-container:hover .weather-card-container__side--front {
    transform: rotateY(-180deg);
    box-shadow: 0.5rem 2.5rem 4rem rgba(28, 28, 28, 0.8); }
  .weather-card-container:hover .weather-card-container__side--back {
    transform: rotateY(0deg);
    box-shadow: 0.5rem 2.5rem 4rem rgba(28, 28, 28, 0.8); }
  .weather-card-container__heading {
    width: 90%;
    position: absolute;
    top: 2rem;
    right: 2rem;
    justify-content: space-between;
    display: flex; }
    .weather-card-container__heading--skycon {
      position: absolute;
      top: 0;
      left: 1rem; }
    .weather-card-container__heading--title {
      font-size: 2rem;
      height: 3.4rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      padding: .5rem 1rem;
      border-radius: 5px;
      background-image: linear-gradient(to right bottom, rgba(98, 114, 164, 0.8), rgba(40, 42, 54, 0.8)); }
    .weather-card-container__heading--daily-details {
      font-size: 1.7rem;
      margin-left: 1rem;
      text-align: left; }
      .weather-card-container__heading--daily-details :nth-child(2) {
        font-size: 1.3rem; }
  .weather-card-container__details {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: left;
    align-content: space-between;
    width: auto;
    flex-grow: 1;
    margin: 2rem;
    margin-top: 8rem;
    z-index: 2; }
    .weather-card-container__details span {
      float: right; }
    .weather-card-container__details div {
      padding: 0.5rem; }
      .weather-card-container__details div:not(:first-child) {
        border-top: 1px solid #f8f8f2; }
  .weather-card-container__weekly-forecast ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding-top: 1.3rem; }
    .weather-card-container__weekly-forecast ul li {
      text-align: center;
      font-size: 1.3rem;
      padding: 1rem;
      overflow-wrap: break-word; }
      .weather-card-container__weekly-forecast ul li:not(:last-child) {
        border-bottom: 1px solid #f8f8f2; }
      .weather-card-container__weekly-forecast ul li span {
        text-align: left;
        float: left; }

.card-container {
  grid-row: 3;
  grid-column: 2;
  margin-right: 4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  text-align: center;
  height: 38rem; }
  @media (max-width: 1350px) {
    .card-container {
      grid-column: 1;
      margin-left: 4rem; } }
  @media (max-width: 600px) {
    .card-container {
      flex-direction: column;
      height: 70rem;
      margin: 2rem;
      margin-bottom: 0; } }

.service-container {
  grid-row: 2 / 4;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
  margin: 2rem; }
  .service-container__fullscreen {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  @media (max-width: 1350px) {
    .service-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto; } }
  @media (max-width: 600px) {
    .service-container {
      grid-template-columns: 1fr;
      margin: 1rem; } }

.service-card-container {
  margin: 2rem;
  cursor: pointer;
  background-color: #44475a;
  border-radius: .5rem;
  transition: all .35s ease-out;
  display: flex;
  height: 10rem; }
  @media (max-width: 600px) {
    .service-card-container {
      margin: 1rem; } }
  .service-card-container:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 15px 5px #1c1c1c; }
  .service-card-container:hover > .service-card-container__image-container {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%); }
  .service-card-container:hover #arrow_circle_up {
    transform: translateY(215%) rotate(90deg) scale(1.2); }
  .service-card-container:hover #arrow_circle_down {
    transform: translateY(215%) scale(1.2); }
  .service-card-container:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 7px 5px #1c1c1c; }
  .service-card-container__text-container {
    align-self: flex-start;
    text-align: left;
    width: 80%;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: space-between; }
    .service-card-container__text-container h3 {
      font-size: 2.2rem;
      line-height: 2.5rem;
      font-weight: 300;
      text-align: left; }
    .service-card-container__text-container__subtitle {
      font-size: 1.2rem;
      text-align: left;
      font-weight: 300;
      padding-right: .5rem; }
    .service-card-container__text-container__indicator {
      transition: all .35s ease-out;
      font-size: 2.2rem;
      float: right;
      margin-right: -2rem;
      margin-top: .1rem; }
    .service-card-container__text-container #arrow_circle_up {
      color: #50fa7b; }
    .service-card-container__text-container #arrow_circle_down {
      color: #ff5555; }
  .service-card-container__image-container {
    transform: translateZ(0);
    transition: all .35s ease-out;
    background-color: #f8f8f2;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 12rem;
    padding-left: 1.5rem;
    height: 10rem; }
    .service-card-container__image-container img {
      height: 6rem;
      width: 6rem; }

.docker-container {
  grid-row: 2 / 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  margin-bottom: 2rem;
  background-image: url("../images/docker-large-text.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 100% 100%; }
  @media (max-width: 1350px) {
    .docker-container {
      margin-top: 0;
      background-size: 15%; } }
  @media (max-width: 600px) {
    .docker-container {
      background-image: none; } }

.docker-container__whale {
  width: 35rem;
  margin-top: -6.7rem;
  margin-left: 9.5rem; }

.docker-container__grid {
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  grid-template-rows: repeat(8, 4rem);
  row-gap: .5rem;
  column-gap: .5rem;
  margin-top: -29rem; }
  .docker-container__grid__1-row {
    margin-top: -31.5rem; }
  .docker-container__grid__2-row {
    margin-top: -27rem; }
  .docker-container__grid__3-row {
    margin-top: -22.5rem; }
  .docker-container__grid__4-row {
    margin-top: -18rem; }
  .docker-container__grid__5-row {
    margin-top: -13.5rem; }
  .docker-container__grid__6-row {
    margin-top: -9rem; }
  .docker-container__grid__7-row {
    margin-top: -4.5rem; }
  .docker-container__grid__8-row {
    margin-top: 0; }

.docker-cell {
  background-color: #f8f8f2;
  border-radius: .2rem;
  max-width: 4rem;
  width: fit-content;
  transition: all .3s ease-out;
  animation-fill-mode: forwards;
  overflow: hidden;
  z-index: 1;
  transition-delay: .3s;
  display: flex;
  align-content: center;
  justify-content: space-between; }
  .docker-cell img, .docker-cell__image-placeholder {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    transition: all .3s ease-in-out;
    transition-delay: .3s;
    font-size: 2.5rem;
    cursor: default; }
  .docker-cell__image-placeholder {
    color: #6272a4; }
  .docker-cell__content {
    opacity: 0;
    transition: all .3s ease-in;
    transition-delay: .3s;
    padding-left: 1rem;
    padding-right: .75rem;
    color: #6272a4;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    white-space: nowrap; }
    .docker-cell__content h3 {
      font-size: 1.7rem;
      font-weight: 400;
      cursor: default;
      padding-right: .5rem; }
    .docker-cell__content--buttons {
      display: flex;
      align-content: center;
      justify-content: center; }
  .docker-cell:hover {
    transition-delay: 0s;
    max-width: 40rem;
    z-index: 2; }
    .docker-cell:hover .docker-cell__content {
      opacity: 1;
      transition-delay: 0s; }

.docker-card-btn {
  color: #6272a4;
  margin-left: .25rem;
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  transition: all .25s ease-out; }
  .docker-card-btn:hover {
    cursor: pointer;
    transform: scale(1.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
