# Rename to .env
# Refer to README.md for configuration instructions

TZ="America/Chicago"

HOMEY_API_WEATHER_LAT="41.8781"
HOMEY_API_WEATHER_LONG="-87.6297"

HOMEY_API_DOCKER_USER_ID=1000
HOMEY_API_DOCKER_GROUP_ID=997
HOMEY_API_DOCKER_SOCKET="/var/run/docker.sock"

HOMEY_API_PORTAINER_URL="https://192.168.1.XXX:9443"    # delete or leave blank to disbale Portainer
HOMEY_API_PORTAINER_USER=""
HOMEY_API_PORTAINER_PASSWORD=""

HOMEY_API_FLOOD_URL="http://192.168.1.XXX:<port>"       # delete or leave blank to disable Flood
HOMEY_API_FLOOD_USER=""
HOMEY_API_FLOOD_PASSWORD=""
