.u-center-text {
  text-align: center; }

.u-margin-big-bottom {
  margin-bottom: 6rem; }

.u-margin-small-bottom {
  margin-bottom: 2rem; }

.u-margin-huge-top {
  margin-top: 10rem; }

.main-grid {
  padding: 25rem 0;
  margin-top: -25vh;
  margin-bottom: -25vh; }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-2-thirds {
    width: calc(((100% - 4rem*2) / 3) * 2);
    float: left; }
    .row .col-2-thirds:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-third {
    width: calc((100% - 4rem*2) / 3);
    float: left; }
    .row .col-1-third:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-quarter {
    width: calc((100% - 4rem*3) / 4);
    float: left; }
    .row .col-1-quarter:not(:last-child) {
      margin-right: 4rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.header-container {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
  background-color: #44475a;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .header-container h1 {
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: .8rem; }
  .header-container span {
    color: #6272a4;
    margin: 1rem;
    font-size: 3.5rem;
    align-self: flex-start;
    margin-left: auto; }

#app {
  box-sizing: border-box;
  background-color: #282a36;
  color: #f8f8f2;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 5fr 4fr;
  grid-template-columns: 3fr 2fr; }

h2 {
  font-weight: 300;
  font-size: 3rem; }

.card-container {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  justify-content: space-evenly;
  background-color: #44475a;
  text-align: center; }

.weather-card-container {
  font-weight: 300;
  font-size: 1.3rem;
  width: 40%;
  text-align: left;
  padding-top: 2rem; }
  .weather-card-container h2 {
    text-align: center; }
  .weather-card-container span {
    float: right; }
  .weather-card-container div {
    padding: 0.5rem; }
    .weather-card-container div:not(:nth-child(2)) {
      border-top: 1px solid #f8f8f2; }

.service-container {
  grid-row: 2 / 4;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  background-color: #282a36;
  text-align: center; }

.service-card-container {
  padding: 2rem;
  cursor: pointer; }
  .service-card-container h3 {
    font-size: 2.5rem;
    font-weight: 300; }
  .service-card-container img {
    height: 5rem; }

.docker-container {
  grid-row: 2 / 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: #6272a4;
  background-image: url("../images/docker-large.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom 1rem right 1rem; }

.docker-card-container {
  padding: .5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(98, 114, 164, 0.3); }
  .docker-card-container span {
    font-size: 2rem; }

.docker-card-container:nth-child(even) {
  background-color: rgba(68, 71, 90, 0.3); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
