.u-center-text {
  text-align: center; }

.u-margin-big-bottom {
  margin-bottom: 6rem; }

.u-margin-small-bottom {
  margin-bottom: 2rem; }

.u-margin-huge-top {
  margin-top: 10rem; }

.main-grid {
  padding: 25rem 0;
  margin-top: -25vh;
  margin-bottom: -25vh; }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-2-thirds {
    width: calc(((100% - 4rem*2) / 3) * 2);
    float: left; }
    .row .col-2-thirds:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-third {
    width: calc((100% - 4rem*2) / 3);
    float: left; }
    .row .col-1-third:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-quarter {
    width: calc((100% - 4rem*3) / 4);
    float: left; }
    .row .col-1-quarter:not(:last-child) {
      margin-right: 4rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.header-container {
  grid-row: 1;
  grid-column: 1 / 3;
  text-align: center;
  background-color: #44475a;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px 5px #1c1c1c; }
  .header-container h1 {
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: .8rem; }
  .header-container canvas {
    margin-left: 18.5%; }
  .header-container span {
    color: #6272a4;
    margin: 1rem;
    font-size: 3.5rem;
    align-self: flex-start;
    margin-left: auto; }

#app {
  box-sizing: border-box;
  background-color: #282a36;
  color: #f8f8f2;
  display: grid;
  height: 100vh;
  grid-template-rows: 15% 45% 40%;
  grid-template-columns: 3fr 2fr; }

h2 {
  font-weight: 300;
  font-size: 3rem; }

.card-container {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  margin-right: 4rem;
  text-align: center; }

.weather-card-container {
  font-weight: 300;
  font-size: 1.3rem;
  width: 35rem;
  height: 90%;
  text-align: left;
  padding: 2rem;
  background-color: #44475a;
  border-radius: .5rem;
  overflow-wrap: break-word; }
  .weather-card-container h2 {
    text-align: center; }
  .weather-card-container span {
    float: right; }
  .weather-card-container div {
    padding: 0.5rem; }
    .weather-card-container div:not(:nth-child(2)) {
      border-top: 1px dotted #f8f8f2; }

.service-container {
  grid-row: 2 / 4;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  margin: 2rem; }

.service-card-container {
  margin: 2rem;
  cursor: pointer;
  background-color: #44475a;
  border-radius: .5rem;
  transition: all .35s ease-out;
  display: flex;
  height: 10rem; }
  .service-card-container:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 15px 5px #1c1c1c; }
  .service-card-container:hover > .service-card-container__image-container {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%); }
  .service-card-container:active {
    transform: translateY(-1px);
    box-shadow: 2px 2px 7px 5px #1c1c1c; }
  .service-card-container__text-container {
    align-self: flex-start;
    text-align: left;
    width: 70%;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: space-between; }
    .service-card-container__text-container h3 {
      font-size: 2.2rem;
      font-weight: 300;
      text-align: left; }
    .service-card-container__text-container__subtitle {
      font-size: 1.3rem;
      text-align: left; }
  .service-card-container__image-container {
    transform: translateZ(0);
    transition: .35s all ease-out;
    background-color: #f8f8f2;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 12rem;
    padding-left: 1.7rem;
    height: 10rem; }
    .service-card-container__image-container img {
      height: 6rem;
      width: 6rem; }

.docker-container {
  grid-row: 2 / 3;
  grid-column: 2;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  margin-right: 3rem;
  margin-left: -.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  background-image: url("../images/docker-large.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom 1rem right 1rem; }

.docker-card-container {
  padding: .7rem;
  margin: .5rem;
  height: 80%;
  border-radius: .3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #6272a4; }
  .docker-card-container:nth-child(even) {
    background-color: #44475a; }
  .docker-card-container h3 {
    align-self: center;
    font-size: 1.7rem;
    font-weight: 300; }
  .docker-card-container__button-container {
    display: flex;
    align-content: center;
    justify-content: center; }
  .docker-card-container:nth-child(even) > .docker-card-container__button-container > .docker-card-btn {
    color: #6272a4; }

.docker-card-btn {
  color: #44475a;
  margin-left: .3rem;
  font-size: 2rem;
  align-self: center;
  justify-self: center; }
  .docker-card-btn:hover {
    cursor: pointer; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
